<template>
    <div>

        <h1>Actor Details</h1>

        <div class="row">
            <div class="col-6">
                <movie-list ref="list" :movies="actor.movies"></movie-list>
            </div>
            <div class="col-6">
                <movie-search
                    ref="search"
                    :enabled="!working"
                    @selected="linkActorToMovie"
                    :unselectable="actor.movies"></movie-search>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-6">
                <generic-info></generic-info>
            </div>

            <div class="col-6">
                <pic-thumbnail :image="actor.pic"></pic-thumbnail>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: 'ActorDetails',
    props: {
        actor: {
            required: true,
            type: Object
        }
    },
    data: function () {
        return {
            working: false
        };
    },
    methods: {
        linkActorToMovie: function (movie) {
            let url = '/api/movies/' + movie.id + '/actors/' + this.actor.id + '/attach';
            let that = this;

            this.working = true;

            this.moviesApi.post(url).then(function (response) {
                // handles the success
                that.actor.movies.push(movie);
                that.$refs.search.reset();

                // ensure that the UI fully updates - kick the list of movies components
                that.$refs.list.$forceUpdate();
            })
            .catch(function (response) {
                // errors
            })
            .then(function () {
                // always called
                that.working = false;
            });

        }
    }
}
</script>

<style scoped>

</style>
