<template>
    <div :class="{ faded: disabled }">
        <form>
            <div class="mb-3">
                <label class="form-label">Search movie title / description</label>
                <input :disabled="disabled" type="text" class="form-control" v-model="query">
            </div>
        </form>
        <div class="list-group">
            <a v-for="movie in results" :class="{ disabled: disabled || !isMovieSelectable(movie) }" @click="selectMovie(movie)" href="#" class="list-group-item list-group-item-action">
                {{ movie.title }}

                <span class="badge bg-secondary" v-if="!isMovieSelectable(movie)">
                    Unselectable
                </span>
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MovieSearch",

        props: {
            unselectable: {
                required: false,
                type: Array
            },

            enabled: {
                required: false,
                default: true,
                type: Boolean
            }
        },

        computed: {
            disabled: function () {
                return !this.enabled;
            }
        },

        data: function () {
            return {
                query: '',
                results: [],
                debouncedSearch: null
            }
        },


        mounted: function () {
            var that = this;
            this.debouncedSearch = _.debounce(function () {
                that.doSearch();
            }, 400);
        },

        watch: {
            query: function () {

                if (!this.query)
                    return;

                // time to query the backend for movies that match the current search term
                // route: movies.search
                this.debouncedSearch();
            }
        },

        methods: {

            debouncedSearch: null,

            reset: function () {
                this.results = [];
                this.query = '';
            },

            doSearch: function () {
                var that = this;

                this.moviesApi.get('/api/movies/search', {
                    params: {
                        query: this.query,
                        num: 10
                    }
                }).then(function (response) {
                    that.results = response.data;
                });
            },

            selectMovie: function (movie) {
                this.$emit('selected', movie);
            },

            isMovieSelectable: function (movie) {
                let isSelectable = true;

                // if the movie is found in the set of unselectable movies, then it is
                // not selectable!
                this.unselectable.forEach(function (unselectableMovie) {
                    if (unselectableMovie.id == movie.id) {
                        isSelectable = false;
                        return false;
                    }
                });

                return isSelectable;
            }
        }
    }
</script>

<style scoped>
    .faded {
        opacity: 0.3;
    }
</style>
