<template>
    <div class="list-group">
        <transition-group name="fade">
            <a
                v-for="movie in movies"
                :key="movie.id"
                :href="movie.url"
                class="list-group-item list-group-item-action">
                    {{ movie.title }}
            </a>
        </transition-group>
    </div>
</template>

<script>
export default {
    name: "MovieList",
    props: {
        movies: {
            required: true,
            type: Array
        }
    }
}
</script>

<style scoped>

    .fade-enter-active, .fade-leave-active {
        transition: all 3s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
        background-color: purple;
    }

</style>
