<template>
    <div>
        <img :src="image" class="img-thumbnail">
    </div>
</template>

<script>
export default {
    name: "Thumbnail",
    props: {
        image: {
            required: true,
            type: String
        }
    }
}
</script>
